<footer class="text-center text-lg-start bg-light text-muted" style="bottom: 0%; position: absolute; width: 100%;">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    </div>
</footer>