<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<nav class="navbar navbar-light bg-white justify-content-between">
    <i class="fas fa-arrow-left" style="zoom: 2.0; padding-left: 10px;"></i>

    <i class="fas fa-cog" style="zoom: 2.0; padding-right: 5px;"></i>
</nav>