/* .ojo {
    width: 120px;
    height: 100px;
    margin-top: 10%;
    margin-bottom: 80%;
    position:absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
} */

/* .ojo {
    width: 300px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.ojo {
    width: 300px;
    height: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 25%;
}

.boton {
    padding-top: 55%;
    padding-left: 73%;
}