<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<nav class="navbar navbar-light bg-white justify-content-between">
    <i></i>
    <i class="fas fa-cog" style=" zoom: 2.0; padding-right: 5px;"></i>
</nav>

<div>
    <img src="../../../assets/ojo.jpeg" class="ojo">
</div>

<div class="card mt-5" style="width: 18rem;">
    <div class="card-body">
      <h1 class="card-title" style="zoom: 1.5;">¡Bienvenido!</h1>
      <p class="card-text" style="color: gray;">En este espacio encontrarás información sobre las ópticas y oftalmólogos más recomendados en el estado.</p>
    </div>
  </div>

  <!-- <div class="card w-40">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

  <div class="boton">
      <button class="btn btn-outline-secondary" routerLink="/home">Siguiente</button>
  </div>

<footer class="text-center text-lg-start bg-light text-muted" style="bottom: 0%; position: absolute; width: 100%;">
    <div class="text-center p-4" style="background-color:tan">
    </div>
</footer>