.ojo_container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 25%;
}


.ojo {
    width: 200px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

