<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<nav class="navbar navbar-light bg-white justify-content-between">
    <i></i>
    <i class="fas fa-cog" style=" zoom: 2.0; padding-right: 5px;"></i>
</nav>

<div class="ojo_container">
    <img src="../../../assets/ojo.jpeg" class="ojo">
</div>

<div class="row" style="padding-left: 10%; padding-top: 5%;">
    <input class="form-control" style="width: 75%;" type="text">
    <button class="btn btn-outline-dark" style="width: 15%;"><i class="fas fa-search"></i></button>
</div>

<div class="container mt-5">
    <div class="col" *ngFor="let item of [1, 1]">
        <div class="card bg-white text-white">
            <img class="card-img" src="../../../assets/ojo.jpeg" alt="Card image" style="height: 200px;">
            <div class="card-img-overlay">
              <h1 class="card-title" style="color: black;">Empezar búsqueda de ópticas</h1>
            </div>
          </div>
    </div>
</div>

<footer class="text-center text-lg-start bg-light text-muted" style="bottom: 0%; position: absolute; width: 100%;">
    <div class="text-center p-4" style="background-color:sienna">
    </div>
</footer>